* {
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
@media screen and (min-width:769px) {
.container-navbar {
    height: 15vh;
    background-color:white;
    color: black;
    
   
}
.navbar {
    width: 100%;
    margin: 0px;
    height: 15vh;
    background-color: rgb(129, 255, 253);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px black solid;
    box-sizing: border-box;
    z-index: 1;
}
.navbar label, #humburger {
    display: none;
}
.navbar-merk {
    margin-left: 10vh;
}
.navbar-menu ul{
list-style: none;
display: flex;
}
.navbar-menu ul li a {
    text-decoration: none;
    color: black;
    display: block;
    margin-right: 10vh;
    transition: 0.3s all ease-in-out;
    font-weight: bold;
}
.navbar-menu a:hover {
color: palevioletred;
text-decoration: underline;

}
}
#container-gallery {
    width: 100%;
    background-color: #f0f4f8;
    margin: 0;

}
.header-gallery {
    width: 100%;
    text-align: center;
    padding: 9vh;
    box-sizing: border-box;
}
.header-gallery h3 {
    color: rgb(0, 218, 146);
    font-size: 5vh;
}
.gallery-pic {
    width: 100%;
    margin: auto;
}
.gallery-pic img {
    width: 100%;
    background-size: cover;
}
.gallery-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
   margin-top: 1vh;
  
}
.image {
    width: 24%;
    margin:2px auto;
    transition: 0.2s all ease-in-out;
}
.image:hover {
    box-shadow: 0px -3px 6px 4px pink;
}
.image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
/* smartphone */
@media screen and (max-width:768px) {
    .container-navbar {
    height: 7vh;
    /* background-image: url(../gambar/navbarhome.jpg);
    background-repeat: no-repeat; */
    background-color:white;
    color: black;
   
}
.navbar {
    width: 100%;
    margin: 0px;
    height: 7vh;
    background-color: rgb(155, 255, 248);
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    /* border: 1px solid black; */

}
.navbar label {
    display: block;
    font-style: normal;
    font-size: 30px;
    padding: 10px;
    color: black;
}

.navbar input {
    display: none;
}
.navbar-menu ul {
    display: block;
    line-height: 7vh;
    list-style: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0;
    top: 7vh;
    
}
.navbar-merk {
    position: absolute;
    font-size: 1.5vh;
    line-height: 7vh;
    right: 2vh;
}
.navbar-menu ul li a {
    text-decoration: none;
    color: black;
    background-color: white;
    display: block;
    font-weight: bold;
    font-size: 1.5vh;
    padding: 0 1vh;
    border-bottom: 1px solid black;
}
.navbar nav {
    display: none;
}
.navbar #humburger:checked ~ nav {
    display: flex;
}
.navbar-menu ul li :hover {
    background-color: pink;
    color: white;
}
.navbar-menu ul li:active {
    background-color: pink;
    color: white;
}
#container-gallery {
    width: 100%;
    background-color: #f0f4f8;
    margin: 0;

}
.header-gallery {
    width: 100%;
    text-align: center;
    padding: 9vh;
    box-sizing: border-box;
}
.header-gallery h3 {
    color: rgb(0, 218, 146);
    font-size:5vh;
}
.header-gallery p {
    color: rgb(2, 171, 115);
}
.gallery-pic  {
width: 100%;    
padding: 0px 10px;
}
.gallery-pic img {
    width: 100%;
}

   

.gallery-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   margin-top: 1px;
   padding: 10px;
   box-sizing: border-box;
  
}
.image {
    width: 48.5%;
    margin:  1px;
    transition: 0.2s all ease-in-out;
}
.image:hover {
    transform: scale(1.03);
}
.image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
}

    